<% if(typeof info !=='undefined'){ %>
<div class="container-fluid">
  <div class="row" id="filesDisplayArea"></div>
  <div class="d-none" id="jsonedFiles"><%= JSON.stringify(info) %></div>
</div>
<% } %>
